body {
    font-family: Arial, sans-serif;
    background-color: #9CAFAA;
    color: #9CAFAA;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #474747;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin-bottom: 20rem;
}

.member {
    background-color: #9CAFAA;
    border: .5rem solid #474747;
    border-radius: 3rem;
    padding: 3rem;
    margin: 2rem 0;
}

.member h1 {
    text-align: left;
    margin: 0 0 3rem;
    color: #474747;
}

.member p {
    text-align: left;
    margin: 5rem 0;
    color: #474747;
}

footer {
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    size: 50px;
    color: #474747;
}
